.page-container {
  padding: 20px;
  min-height: 90vh;
  background: linear-gradient(to bottom, #000, #1a1a1a);
  color: #fff;
}

h2 {
  margin-bottom: 20px;
  color: #ff4c4c;
}

.genre-buttons {
  margin-bottom: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.genre-buttons button {
  padding: 5px 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ff0000;
  color: #fff;
  transition: 0.3s;
}

.genre-buttons button.active-genre,
.genre-buttons button:hover {
  background-color: #ff4c4c;
}

.shows-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.show-card {
  background: linear-gradient(180deg, #ff0000, #000);
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s;
}

.show-card:hover {
  transform: scale(1.05);
}

.show-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.show-card h4 {
  margin: 10px 0;
  color: #fff;
}

.show-card p {
  margin-bottom: 10px;
  color: #ffcccc;
  font-size: 0.9rem;
}