*{
  box-sizing:border-box;
}

.footer{
  width:100%;
  background:linear-gradient(120deg,#000,#1a0000,#150000);
  border-top:2px solid red;
  padding:12px 15px;
  color:white;
  font-size:14px;
}

/* ONE LINE */
.footer-content{
  max-width:1400px;
  margin:auto;
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}

/* LEFT */
.footer-left{
  color:#ff4d4d;
  white-space:nowrap;
}

/* CENTER */
.footer-center{
  display:flex;
  align-items:center;
  gap:15px;
}

.footer-center a,
.footer-icon{
  color:red;
  font-size:18px;
  cursor:pointer;
}

.footer-center a:hover,
.footer-icon:hover{
  color:white;
}

/* RIGHT */
.footer-right{
  display:flex;
  align-items:center;
  gap:6px;
  white-space:nowrap;
}

.footer-link{
  color:#ff4d4d;
  opacity:0.7;
}

.divider{
  color:red;
}

/* SMALL MOBILE */
@media(max-width:600px){
  .footer-content{
    flex-direction:column;
    text-align:center;
    gap:8px;
  }
}