.login-overlay {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    rgba(0, 0, 0, 0.95),
    rgba(20, 0, 0, 0.95),
    rgba(40, 0, 0, 0.9)
  );
}

.login-box {
  background: rgba(0, 0, 0, 0.7);
  padding: 45px;
  border-radius: 18px;
  border: 1px solid rgba(255, 0, 0, 0.4);
  width: 340px;
  text-align: center;
  box-shadow: 0 0 30px rgba(255, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.login-box h2 {
  color: white;
  margin-bottom: 8px;
}

.subtitle {
  color: #aaa;
  font-size: 14px;
  margin-bottom: 20px;
}

.login-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 10px;
  border: 1px solid #333;
  background: #111;
  color: white;
  transition: 0.3s;
}

.login-box input:focus {
  border: 1px solid red;
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.5);
  outline: none;
}

.login-box button,
.guest-btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  box-sizing: border-box;   
  transition: 0.3s;
}

/* Login Button */
.login-box button {
  background: linear-gradient(45deg, #ff0000, #8b0000);
  color: white;
  margin-top: 15px;
}

.login-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.7);
}

/* Guest Button */
.guest-btn {
  margin-top: 12px;
  background: #222;
  color: white;
}

.guest-btn:hover {
  background: #333;
}
.subtitle{
  color:#aaa;
  margin-bottom:15px;
}

.toggle-btn,
.forgot-btn{
  cursor:pointer;
  margin-top:10px;
  color:#ff4d4d;
}

/* ================= ANIMATION ================= */
.show-up {
  animation: slowUp 0.8s ease forwards;
}

@keyframes slowUp {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}