.movie-row{
  padding: 40px 0;
  max-width: 1400px;
  margin:auto;
}

.movie-row h2{
  padding-left:60px;
  margin-bottom:25px;
  color:white;
  font-size:26px;
}

.movie-row .splide{
  padding:0 60px;
}

/* MOBILE FIX */
@media(max-width:768px){
  .movie-row h2{
    padding-left:20px;
  }
  .movie-row .splide{
    padding:0 20px;
  }
}
