.search-page{
  min-height:100vh;
  padding:40px 5%;
  background:linear-gradient(
    120deg,
    rgba(0,0,0,0.95),
    rgba(20,0,0,0.95),
    rgba(40,0,0,0.9)
  );
}
.search-input{
  width:100%;
  padding:15px 20px;
  border-radius:30px;
  border:2px solid #ff0000;
  margin-bottom:30px;
  font-size:16px;

  background:black;      /* black background */
  color:white;           /* text white */
  outline:none;
  transition:0.3s;
}

/* Placeholder color */
.search-input::placeholder{
  color:#ff4d4d;
}

/* Focus effect */
.search-input:focus{
  border-color:#ff0000;
  box-shadow:0 0 10px rgba(255,0,0,0.6);
}
.category-title{
  color: white;
}
.category-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
}

/* Normal Button */
.cat-btn {
  padding: 14px 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid #ff0000;
  cursor: pointer;
  background: black;
  color: #ff0000;
  font-weight: 600;
  transition: 0.3s;
}

/* Hover Effect */
.cat-btn:hover {
  background: #c90000;
  color: white;
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(255,0,0,0.4);
}

/* Active Button */
.cat-btn.active {
  background: #ff0000;
  color: white;
}


/* POSTER GRID */
.poster-row{
  display:grid;
  grid-template-columns:repeat(5,1fr);
  gap:25px;
}

/* RESPONSIVE */
@media(max-width:1200px){
  .poster-row{ grid-template-columns:repeat(4,1fr); }
}

@media(max-width:900px){
  .poster-row{ grid-template-columns:repeat(3,1fr); }
}

@media(max-width:600px){
  .poster-row{ grid-template-columns:repeat(2,1fr); }
}

.poster-row {
  opacity: 0;
  transform: translateY(120px);
}

.show-up {
  animation: slowUp 1s ease forwards;
}

@keyframes slowUp {
  from {
    opacity: 0;
    transform: translateY(120px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}