/* .search-page{
  padding:40px 60px;
  background:linear-gradient(
    120deg,
    rgba(0,0,0,0.95),
    rgba(20,0,0,0.95),
    rgba(40,0,0,0.9)
  );
  min-height:100vh;
}

.search-input{
  width:100%;
  padding:15px 20px;
  border-radius:30px;
  border:none;
  outline:none;
  font-size:18px;
  margin-bottom:30px;
  background:#140000;
  color:white;
}

.search-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
  gap:25px;
} */
.search-page{
  padding:30px;
  background:linear-gradient(120deg,#000000,#140000,#280000);
  min-height:100vh;
  color:white;
}

.search-input{
  width:100%;
  padding:15px;
  border-radius:12px;
  border:none;
  margin-bottom:30px;
  font-size:16px;
}
.poster-row{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  gap:20px;
}

.movie-card img{
  width:170px;
  height:240px;
  object-fit:cover;
  border-radius:15px;
  transition:0.3s;
}

.movie-card img:hover{
  transform:scale(1.1);
}
.category-buttons button{
  background:linear-gradient(120deg,#8b0000,#200000);
  color:white;
  border:none;
  padding:8px 18px;
  margin:5px;
  border-radius:20px;
  cursor:pointer;
}
@media(max-width:1200px){
  .poster-row{
    grid-template-columns: repeat(4,1fr);
  }
}

@media(max-width:900px){
  .poster-row{
    grid-template-columns: repeat(3,1fr);
  }
}

@media(max-width:600px){
  .poster-row{
    grid-template-columns: repeat(2,1fr);
  }
}

@media(max-width:400px){
  .poster-row{
    grid-template-columns: repeat(1,1fr);
  }
}

/* CENTER BUTTONS */
.category-buttons{
  display:flex;
  justify-content:center;
  gap:25px;
  margin:40px 0;
  flex-wrap:wrap;
}

/* BUTTON STYLE */
.cat-btn{
  width:220px;
  height:110px;
  border:none;
  border-radius:18px;
  color:white;
  font-size:20px;
  font-weight:700;
  cursor:pointer;
  background-size:cover;
  background-position:center;
  position:relative;
  overflow:hidden;
  transition:0.4s;
  box-shadow:0 10px 25px rgba(0,0,0,0.6);
}

/* DARK OVERLAY */
.cat-btn::after{
  content:"";
  position:absolute;
  inset:0;
  background:rgba(0,0,0,0.55);
}

.cat-btn span{
  position:relative;
  z-index:2;
}

/* HOVER EFFECT */
.cat-btn:hover{
  transform:scale(1.08);
  box-shadow:0 20px 50px rgba(255,0,0,0.4);
}

@media(max-width:768px){
  .cat-btn{
    width:160px;
    height:90px;
    font-size:16px;
  }
}