.search-page {
  background: #0f0f0f;
  min-height: 100vh;
  padding: 40px;
  color: white;
}

.big-search {
  width: 100%;
  padding: 15px;
  font-size: 18px;
  border-radius: 8px;
  border: none;
  margin-bottom: 20px;
  background: #1c1c1c;
  color: white;
}

.category {
  display: flex;
  gap: 15px;
  margin-bottom: 30px;
}

.category button {
  padding: 8px 20px;
  border-radius: 20px;
  border: none;
  background: #1c1c1c;
  color: white;
  cursor: pointer;
}

.category button:hover {
  background: #ff3d00;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 20px;
}

.card {
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card h3 {
  padding: 10px;
  font-size: 16px;
}

.card:hover {
  transform: scale(1.05);
}
